pipeline/Load SQL Database.json
{
	"name": "Load SQL Database",
	"properties": {
		"activities": [
			{
				"name": "Get Latest CDC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "cdc_json_df",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.cdc_container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.cdc_directory",
								"type": "Expression"
							},
							"file": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get_Latest_Records",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get Latest CDC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/24huda.zaidi@fostiima.org/DE-Singapore-Companies-DB/Pyspark_Notebooks/ADF_Permission/counts",
					"baseParameters": {
						"catalog": {
							"value": "@pipeline().parameters.src_catalog",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.src_schema",
							"type": "Expression"
						},
						"table": {
							"value": "@pipeline().parameters.src_table",
							"type": "Expression"
						},
						"last_cdc": {
							"value": "@activity('Get Latest CDC').output.value[0].cdc",
							"type": "Expression"
						},
						"cdc_column": {
							"value": "@pipeline().parameters.cdc_column",
							"type": "Expression"
						},
						"staging_path": {
							"value": "@pipeline().parameters.staging_path",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sg_databricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Counts",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Latest_Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get_Latest_Records').output.runOutput.records, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "No new Records",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "No New Records",
								"errorCode": "No Records Found"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy to SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "stage",
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "sg_company_df",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sg_db_df",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@pipeline().parameters.dest_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.dest_table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Updating Latest CDC",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check Counts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "cdc",
								"value": {
									"value": "@activity('Get_Latest_Records').output.runOutput.max_cdc",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "cdc_json_df",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.cdc_container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.cdc_directory",
								"type": "Expression"
							},
							"file": "empty.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "cdc_json_df",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.cdc_container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.cdc_directory",
								"type": "Expression"
							},
							"file": "cdc.json"
						}
					}
				]
			}
		],
		"parameters": {
			"src_catalog": {
				"type": "string",
				"defaultValue": "silver"
			},
			"src_schema": {
				"type": "string",
				"defaultValue": "clean"
			},
			"src_table": {
				"type": "string",
				"defaultValue": "stocks"
			},
			"cdc_column": {
				"type": "string",
				"defaultValue": "updated_at"
			},
			"staging_path": {
				"type": "string",
				"defaultValue": "abfss://staging@singaporecomadls.dfs.core.windows.net/stage"
			},
			"dest_schema": {
				"type": "string",
				"defaultValue": "silver"
			},
			"dest_table": {
				"type": "string",
				"defaultValue": "stocks_clean"
			},
			"cdc_container": {
				"type": "string",
				"defaultValue": "silver"
			},
			"cdc_directory": {
				"type": "string",
				"defaultValue": "clean/stocks_cdc"
			}
		},
		"variables": {
			"temp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}